*bz2
*~
*.[adio]
*.l[ao]
*.gdb
*.pyc
*.deps
*.libs

*.patch
*.orig
*.rej
*.diff
/portage-utils-*
contrib

a.out*
lib*.so*
core
.gdb_history
.gdbinit

aclocal.m4
autom4te.cache
build
config.cache
config.h
config.h.in
config.log
config.status
configure
autotools
libtool
Makefile.in
stamp-h1

/*.old.c
/q
/qatom
/qcache
/qcheck
/qdepends
/qfile
/qglsa
/qgrep
/qlist
/qlop
/qmerge
/qpkg
/qsearch
/qsize
/quse
/qxpak
/qtegrity
