*~
*.[adio]
*.l[ao]
*.gdb
*.pyc
*.deps
*.libs

*.patch
*.orig
*.rej
*.diff
/portage-utils-*
contrib

a.out*
lib*.so*
core
.gdb_history
.gdbinit

aclocal.m4
autom4te.cache
build
config.cache
config.h
config.log
config.status
libtool
stamp-h1
INSTALL
Makefile
/autotools/gnulib/*.h
/autotools/gnulib/sys
/tests/init.sh
/tests/qmanifest/root/.gnupg/random_seed

/*.old.c
/q
/qatom
/qcheck
/qdepends
/qfile
/qglsa
/qgrep
/qkeyword
/qlist
/qlop
/qmanifest
/qmerge
/qpkg
/qsearch
/qsize
/qtbz2
/qtegrity
/quse
/qxpak
